@import 'assets/css/var';

.content {
    margin:0 auto;
    width: 90vw;
    display: grid;
    align-items: start;
    grid-template-columns: auto 1fr;
    column-gap: 50px;
    .image {
        width: 440px;
        background: white;
        border-radius: 50px;
        padding: 60px 24px;
        box-sizing: border-box;
        box-shadow: 20px 20px 30px rgba(0,0,0,.1);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .description {
        padding-top: 20px;
        width: 70%;
        h1 {
            color: $color-primary;
            font-size: 45px;
            margin-bottom: 24px;
        }
        h3 {
            color: $color-primary;
            font-size: 14px;
            margin-bottom: 10px;
        }
        h2 {
            color: #776FC4;
            margin-bottom: 40px;
            font-size: 15px;
        }
        .subtitle {
            margin-bottom: 40px;
            font-size: 15px;
            color: #8984A1;
        }
        p {
            font-size: 14px;
            color: #8984A1;
            margin-bottom: 24px;
            line-height: 22px;
        }
        img {
            max-width: 100%;
        }
        ol {
            margin-left: -20px;
            li {
                color: #8984A1;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        margin:-30px auto 0;
        max-width: 90vw;
        .image {
            grid-row: 2/3;
            grid-column: 1 / 2;
            width: 100%;
            margin-top: 50px;
        }
        .description {
            grid-column: 1 / 2;
            grid-row: 1/2;
            width: 100%;
        }
    }
}
